.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200vh;
  background-image: url("https://images.unsplash.com/photo-1554396077-f236be15052c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.countryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 5vh 0;
  /* background: red; */
}

.btnContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
}

.btn {
  height: 70%;
  width: 50%;
  background-color: #f3f1ed;
  border: 1px solid #57a1f7;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
}

.btn:first-of-type {
  border-right: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #57a1f7;
  color: #f3f1ed;
  border: 1px solid #f3f1ed;
}

.link {
  text-decoration: none;
  height: 72%;
  width: 50%;
  background-color: #f3f1ed;
  border: 1px solid #57a1f7;
  line-height: 34px;
  font-size: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.link:hover {
  color: #f3f1ed;
  background: #57a1f7;
}
